div {
    color:rgb(96, 0, 185);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}

.pinkColor {
    color:slateblue;
    font-family:monospace;
    font-size:larger;
    font-weight:bold
}

#specificColor {
    color:rgb(95, 0, 95);
    font-family:cursive;
    font-size:larger;
}

body{
    background-color:rgb(252, 190, 252);
    background-image: url('../../../Motion Design/Project 1 Testing/pink square.png');

}